In [40]:
# import libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MultiLabelBinarizer # for multi-hot encoding

In [41]:
# load daataset after eda
india_housing_prices_df = pd.read_csv("../data/eda_data/india_housing_prices_eda.csv")
india_housing_prices_df.describe()

                  ID            BHK  ...  Nearby_Schools  Nearby_Hospitals
count  230277.000000  230277.000000  ...   230277.000000     230277.000000
mean   125025.333121       2.998602  ...        5.498721          5.496116
std     72183.166351       1.415131  ...        2.878392          2.872477
min         1.000000       1.000000  ...        1.000000          1.000000
25%     62551.000000       2.000000  ...        3.000000          3.000000
50%    125002.000000       3.000000  ...        5.000000          5.000000
75%    187579.000000       4.000000  ...        8.000000          8.000000
max    250000.000000       5.000000  ...       10.000000         10.000000

[8 rows x 11 columns]

In [42]:
# TODO: ADD MARKDOWN FILE => in eda part we have already checked for missing, duplicate values

In [43]:
# we are storing the freq encoding map for encoding the user's input through streamlit
state_freq_map = india_housing_prices_df['State'].value_counts(normalize=True).to_dict()
city_freq_map  = india_housing_prices_df['City'].value_counts(normalize=True).to_dict()

# encode State, City using Frequency Encoding
india_housing_prices_df['State_Freq'] = india_housing_prices_df['State'].map(state_freq_map)
india_housing_prices_df['City_Freq']  = india_housing_prices_df['City'].map(city_freq_map)

# encode 'Locality' column using target encoding
locality_target_mean_map = india_housing_prices_df.groupby(['State', 'City', 'Locality'])['Price_per_SqFt'].mean().to_dict()

# storing the locality mapping 
india_housing_prices_df = india_housing_prices_df

india_housing_prices_df = india_housing_prices_df.drop(['State', 'City', 'Locality'], axis=1)
display(india_housing_prices_df.head())

   ID      Property_Type  BHK  ...  Availability_Status  State_Freq  City_Freq
0   1          Apartment    1  ...        Ready_to_Move    0.050387   0.024518
1   2  Independent House    3  ...   Under_Construction    0.050296   0.016867
2   3          Apartment    2  ...        Ready_to_Move    0.050196   0.025270
3   4  Independent House    2  ...        Ready_to_Move    0.049701   0.024766
4   5              Villa    4  ...        Ready_to_Move    0.049701   0.024935

[5 rows x 22 columns]

1. **`Locality_Target` already includes State and City info** because:
   - `locality_84` in Mumbai, MH â‰  `locality_84` in Bangalore, KA
   - The groupby uses all three levels: `['State', 'City', 'Locality']`

2. **Encoding State/City separately would be REDUNDANT**
   - You'd be giving the model the same geographic information twice
   - Wastes features and could cause multicollinearity

In [44]:
# Label encoding for remaining categorical columns 
label_encoding_cols = [
    'Property_Type', 'Furnished_Status', 'Public_Transport_Accessibility',
    'Parking_Space', 'Security', 'Facing', 'Owner_Type', 'Availability_Status'
]

le_dict = {}
for col in label_encoding_cols:
    le = LabelEncoder()
    india_housing_prices_df[col + '_Enc'] = le.fit_transform(india_housing_prices_df[col])
    le_dict[col] = le  # for later use during prediction/streamlit
    
india_housing_prices_df = india_housing_prices_df.drop(label_encoding_cols, axis=1)
display(india_housing_prices_df.head())

   ID  BHK  Size_in_SqFt  ...  Facing_Enc  Owner_Type_Enc  Availability_Status_Enc
0   1    1          4740  ...           3               2                        0
1   2    3          2364  ...           1               1                        1
2   3    2          3642  ...           2               0                        0
3   4    2          2741  ...           1               1                        0
4   5    4          4823  ...           0               1                        0

[5 rows x 22 columns]

In [45]:
import re

def clean_column_name(name):
    """Remove special characters that XGBoost doesn't accept"""
    name = re.sub(r'[\[\]<>]', '', name)  # Remove brackets
    name = name.replace(' ', '_')          # Replace spaces
    name = re.sub(r'[^a-zA-Z0-9_]', '', name)  # Remove other special chars
    name = re.sub(r'_+', '_', name)        # Remove consecutive underscores
    return name.strip('_')

mlb = MultiLabelBinarizer()
amenities_encoded = mlb.fit_transform(india_housing_prices_df['Amenities'])

# Clean the column names!
amenities_df = pd.DataFrame(
    amenities_encoded, 
    columns=[f"Amenity_{clean_column_name(a)}" for a in mlb.classes_]
)

india_housing_prices_df = pd.concat([india_housing_prices_df, amenities_df], axis=1)
india_housing_prices_df = india_housing_prices_df.drop('Amenities', axis=1)

In [46]:
india_housing_prices_df.to_csv("../data/feature_engineered_data/india_housing_prices_feature_engineered.csv", index=False)