In [7]:
# import libraries
import pandas as pd
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix
from sklearn.metrics import mean_squared_error, r2_score
import joblib

In [8]:
# load models
cls_model = joblib.load('../models/trained_models/xgb_classifier_model.joblib')
reg_model = joblib.load('../models/trained_models/xgb_regressor_model.joblib')
# load features
features = joblib.load("../models/features/features.joblib")

In [9]:
# load dataset
df = pd.read_csv('../data/classification_data/india_housing_prices_classification.csv')
df.head()

,ID,BHK,Size_in_SqFt,Price_in_Lakhs,Price_per_SqFt,Year_Built,Floor_No,Total_Floors,Age_of_Property,Nearby_Schools,...,Amenity_h,Amenity_l,Amenity_m,Amenity_n,Amenity_o,Amenity_r,Amenity_s,Amenity_u,Amenity_y,Good_Investment
0,1,1,4740,489.76,0.103325,1990,22,1,35,10,...,1,1,1,1,1,1,1,1,1,1
1,2,3,2364,195.52,0.082707,2008,21,20,17,8,...,1,1,1,1,1,1,1,1,1,0
2,3,2,3642,183.79,0.050464,1997,19,27,28,9,...,1,1,1,1,1,1,1,1,1,0
3,4,2,2741,300.29,0.109555,1991,21,26,34,5,...,1,1,1,1,1,1,1,1,1,1
4,5,4,4823,182.90,0.037922,2002,3,2,23,4,...,1,1,1,1,1,1,1,1,1,0

In [15]:
# CLASSIFICATION MODEL EVALUATION
Xcls = df[features]
ycls = (df["Price_per_SqFt"] > df["Price_per_SqFt"].median()).astype(int)

y_pred_cls = cls_model.predict(Xcls)

print("Accuracy:", accuracy_score(ycls, y_pred_cls))
print("F1 Score:", f1_score(ycls, y_pred_cls))
print("Confusion Matrix:\n", confusion_matrix(ycls, y_pred_cls))

Accuracy: 0.7042561784285882
F1 Score: 0.7063981686260815
Confusion Matrix:
 [[80247 34892]
 [33211 81927]]

In [17]:
# REGRESSION MODEL EVALUATION
Xreg = df.drop(columns=["Price_per_SqFt", "Price_in_Lakhs", "Good_Investment"])
yreg = df["Price_per_SqFt"]

y_reg_pred = reg_model.predict(Xreg)

print("Mean Squared Error:", mean_squared_error(yreg, y_reg_pred))
print("R^2 Score:", r2_score(yreg, y_reg_pred))

Mean Squared Error: 0.0032279471322622195
R^2 Score: 0.38623211480731423